body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: bold;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;

}

.white-section {
    background-color: #fff;

}


.big-heading {
    max-width: 600px;
    font-size: 3.5rem;
    line-height: 1.5;
   }
   
.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5%;
}

/* Title Image */
.title-image {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    left: 59%;
    /* margin: left auto; */
} 

#features {    
    position: relative;  
}

.feature-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
}
.feature-text  {
    color: #8f8f8f;
    padding: 7% 0;

}

.icon {
    margin-bottom: 1.2rem; 
    color: #ef8172;
}
.icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    padding: 7% 0;
    background-color: #ef8172;
   
}
.testimonial-heading {
    font-size: 3rem;   
    line-height: 5.5rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px 0;
}

.pricing-heading {
    font-size: 3rem; 
    margin-bottom: 20px;
}
.pricing-text {
    font-size: 1.2rem;
}

.pricing-column {
    padding: 3% 2%;
}
.pricing-button {
    margin-top: 40px;
}
/* Call to Action */

#cta {    
    padding: 100px 0;
}

.cta-title {
    font-size: 3.5rem;
    color: #fff;
    max-width: 55%;
    margin: 1.5% auto;
}
.cta-button {
    margin: 1.5% 1%;
}

/* Footer  */

#footer {
    padding: 50px 0;
}

.footer-link {
    color: #000;
    margin: 0.5%;
}
.footer-link:hover {
    color: #0e49b5;
}

.footer-text {
    color: #8f8f8f;
    margin-top: 1%;
}


@media (max-width: 1399px) {
    .feature-box {
        padding: 55px;
    }
}

@media (max-width: 1199.98px){
    .title-image {
        position: static;
        width: 60%;
        margin-left: 50px;
    }
    .feature-box {
        padding: 20px;
        margin: 30px 0 15px;
    }


}
@media (max-width: 991.98px ) {
    .title-image {
        width: 60%;
        position: static;
        margin-left: 50px;
        transform: rotate(0);
    }    
    #title {
        text-align: center;
    }
    .feature-box {
        padding: 20px 0;
    }
    #features p {
        padding: 10px;
    }
}
@media (max-width: 767.98px){
    #features p {
        padding: 10px;
        font-size: 1.3rem;
    }

}
@media (max-width: 575.98px){

}



